<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYHTooMao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3F407CE1C8E797300AF3D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F407E51C8E797300AF3D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F407F01C8E797300AF3D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
